.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.box {
    width: 280px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box:last-child {
    width: 600px;
}
